<!DOCTYPE html>
 <html lang="zh-ch">
     <%- include("./public/head.ejs")%>
     <body>
         <%- include("./public/header.ejs")%>
         <section class="main floatfix">
             <%- include("./public/aside.ejs")%>
             <section class="main-articles about">
             <h2>关于博客</h2>
             <p>本博客分享个人的有趣的见闻,希望大家玩的快乐</p>
             </section>
         </section>
         <%- include("./public/footer.ejs")%>
     </body>
</html>